<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
<p *ngSwitchCase="'nicolas'">
  La persona es Nicolás
</p>
<p *ngSwitchCase="'julian'">
  La persona es Julian
</p>
<p *ngSwitchCase="'camilo'">
  La persona es Camilo
</p>
<p *ngSwitchDefault="">No hace match</p>
</div>
<!-- <p *ngIf="person.name === 'nicolas'">
  La persona es Nicolás
</p>
<p *ngIf="person.name === 'julian'">
  La persona es Julian
</p>
<p *ngIf="person.name === 'camilo'">
  La persona es Camilo
</p> -->
<hr>
<h1>*ngFor Objs</h1>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.name }}</h2>
    <p>{{ product.price }}</p>
  </div>
</div>
<hr>
<h1>Reto</h1>
<h3>Componentes para PC</h3>
<input type="text" required [(ngModel)]="newComponent">
<button (click)="addComponent()">Add component</button>
<ul>
  <li *ngIf="components.length === 0">No hay componentes</li>
  <li *ngFor="let component of components; index as i">
    {{ i }} {{ component }}
    <button (click)="deleteComponent(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i+1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'julian' && person.age === 18; else elseBlock">Soy Julian</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ ageInput.valid }}</p>
<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, dolor quam ullam quaerat cumque tempore doloremque quos odit. Inventore maiores iure eaque maxime veritatis amet harum pariatur aut. Illo, veritatis.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress [value]="person.age" max="100"></progress>
<img width="100" [src]="person.avatar" alt=""> <!-- property biding: especificos para propiedades-->
<hr />
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} de edad.</h3>
<img width="100" src="{{ img }}" alt=""> <!-- interpolation: especificos para variables, dado que renderiza contenido-->
